@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

html {
  scroll-snap-type: y mandatory;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
section::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('/topography.svg');
  opacity: .03;
  content: "";
  z-index: -1;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
  animation: animatedBackground 2000s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}